version: '3.7'

services:
  nginx:
    build:
      context: ../nginx/
    image: nginx-alpine
    container_name: {{ nginx_container_name_2 }}
    restart: always
    ports:
      - 80:80
    volumes:
      - ./joomla:/var/www/html
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - joomla_with_newrelic

  joomla_with_newrelic:
    build:
      context: ../joomla-php-newrelic/
      args:
        - 'NEW_RELIC_AGENT_VERSION={{ nr_agent_ver }}'
        - 'NEW_RELIC_LICENSE_KEY={{ nr_license_key }}'
        - 'NEW_RELIC_APPNAME={{ nr_app_name_2 }}'
    image: joomla-php-nr 
    container_name: {{ joomla_container_name_2 }}
    restart: always
    ports:
      - 9000:9000
      - 8080:80
    volumes:
      - ./joomla:/var/www/html

  newrelic-php-daemon:
    container_name: newrelic-php-daemon
    image: newrelic/php-daemon
    restart: always

networks:
  default:
    name: webserver_network